* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

nav {
  background: #dedede;
  padding: 5px 40px;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

nav ul li {
  padding: 15px 0;
}

nav ul li.items {
  width: auto;
  margin: 0 30px;
  text-align: center;
}

nav ul li.logo-part {
  flex: 1;
  font-weight: 500;
  font-size: 28px;
  font-style: italic;
  margin-left: 15px;
}

nav ul li a {
  color: black;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
}

.nav li a:hover {
  color: #75daff;
}

@media all and (max-width: 600px) {
  nav {
    padding: 5px 30px;
  }

  nav ul li.items {
    width: 100%;
  }
}
